/*INDEX....................................................*/
/*INDEX.....................................................................................*/
/*Header-INDEX.............................................*/
.header {
  background-color: #fcebb6;
  height: auto;
  margin: 0%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

/*Logo Header...............................................*/
.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

/*titulos y subtitulos Header................................*/
.titulo {
  margin: 0%;
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitulo {
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-inicial {
  font-size: smaller;
  color: #5e412f;
  text-decoration: none;
  padding-top: 1rem;
  padding-right: 1rem;
}
.menu-inicial:hover {
  color: #78c0a8;
  font-size: medium;
}

@media only screen and (max-width: 356px) {
  .titulo {
    font-size: 1.5em;
    padding-top: 1rem;
  }
  .subtitulo {
    font-size: 1em;
  }
  .header {
    flex-direction: column;
  }
  .Findex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .menu-inicial {
    padding-right: 0%;
  }
}
body {
  margin: 0%;
}

/*Main-INDEX.................................................*/
.navbar-expand-lg {
  background-color: #ffca67 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.Mindex {
  width: 100%;
  height: 40rem;
  margin: 0%;
  padding: 0%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: url(imagenes/fonde_index3.jpg);
  background-size: cover;
  background-position: center;
  /*Clase de boostrap editada*/
  /*imagen principal index..........................................*/
}
.Mindex .warmer_index {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Mindex .warmer_index img {
  width: 500px;
  height: auto;
  border-radius: 6px;
}
.Mindex .img-ppal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.Mindex .img-ppal:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1%);
}
.Mindex .fondo2 {
  width: 300px;
  height: auto;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.Mindex .fondo1 {
  width: 300px;
  height: auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*Footer-INDEX.....................................................*/
.Findex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #aaa8a2;
  text-align: center;
  flex-wrap: wrap;
}

/*Parte derecha footer.............................................*/
/*contactos........................................................*/
.contactos {
  padding-right: 1rem;
  padding-left: 1rem;
}

/*telefonos de contacto............................................*/
.telefonos {
  font-size: small;
  color: #aaa8a2;
  flex-direction: column;
}
.telefonos:hover {
  color: #f0a830;
}

/*parte izquierda footer............................................*/
/*instagram empresa.................................................*/
.ig-pwrbase {
  text-decoration: none;
  color: #aaa8a2;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ig-pwrbase:hover {
  color: #f0a830;
  font-size: larger;
}

/*Red Social...........................................................*/
.izq-footer {
  padding-left: 2rem;
}

/*PRODUCTO............................................................................................*/
/*complemento header*/
.menu-inicial {
  font-size: smaller;
  color: #5e412f;
  text-decoration: none;
  padding-top: 1rem;
  padding-right: 1rem;
}
.menu-inicial:hover {
  color: #78c0a8;
  font-size: medium;
}

/*MAIN..................................................................*/
/*titulo main...........................................................*/
.titulos {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*texto main...........................................................*/
.fuente-texto {
  margin: 0%;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

/*fondo main...........................................................*/
.fondo-mainP {
  background-color: #bfe3c0;
  margin: 0rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
}

/*imagenes del producto.................................................*/
.card {
  width: 15rem;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  height: 15rem;
  width: 100%;
  border-radius: 6px;
}
.card .contenido {
  padding: 1rem;
  text-align: center;
}

/*.warmerP{
    width: 15rem;
    height: 15rem;
    border: 2px solid white;
    flex-wrap: wrap;
}*/
.textoP {
  width: 15rem;
}

/*contenido main................................................*/
.mainP {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*NOSOTROS...............................................................................................*/
/*MAIN......................*/
.fondo-mainN {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d9e8ae; /*link de paleta colores: https://paletadecolores.com.ar/paleta/5e412f/fcebb6/78c0a8/f07818/f0a830/*/
}

/*Titulo ppal main...............................................*/
/*Mapa ubicacion.................................................*/
.mapa {
  width: 25rem;
  height: 25rem;
  margin: 0%;
  padding: 1rem;
}

/*contenido main...................................................*/
.Mnosotros {
  display: flex;
  flex-wrap: wrap;
  /*titulo y texto main...............................................*/
}
.Mnosotros .titulo-ubi {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  flex-wrap: wrap;
}
.Mnosotros .texto-ubi {
  margin: 0%;
  padding: 1rem;
  width: 20rem;
}

@media only screen and (max-width: 435px) {
  .mapa {
    width: auto;
    height: 16rem;
  }
  .texto-ubi {
    width: auto;
  }
  .tituloN {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 332px) {
  .mapa {
    width: 15rem;
    height: 15rem;
  }
}
/*RESPONABLES EMPRESA..................................................................................*/
/*MAIN..................................................................*/
.Mdirectores {
  background-color: #fde98c;
  font-family: Arial, Helvetica, sans-serif;
}

/*ubicaion imagenes..................................................*/
.directores1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.directores2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/*imagenes de directores..................................................*/
.Dimg {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

/*texto directores..................................................*/
.presentacion {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 20rem;
}
.presentacion h3 {
  font-size: medium;
}
.presentacion .textoD {
  font-size: small;
  width: 15rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 615px) {
  .tituloD {
    font-size: 1.5em;
  }
  .titulo {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }
}
/*OPINIONES........................................................................................*/
/*MAIN............................................................*/
/*formularios....................................................*/
.titulo-form {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.forms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.forms .formulario {
  width: 45%;
  float: left;
  margin: 1rem;
}
.forms .campo {
  margin-bottom: 1rem;
}
.forms .campo label {
  display: block;
  font-weight: bold;
}
.forms .campo input, .forms .campo textarea {
  width: 100%;
  padding: 0.5rem;
}
.forms .campo textarea {
  height: 7rem;
}

/*boton enviar..........................................................*/
.boton {
  background-color: rgb(105, 192, 54);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
}

/*estilos de letra de los forms..........................................*/
.letra-form {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: small;
}

/*color fondo main.......................................................*/
.mainO {
  background-color: #fde98c;
  overflow: auto;
  margin: 0rem;
}

/*media query index............................................................*/
@media only screen and (max-width: 510px) {
  .warmer_index img {
    width: 100% !important;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
