/*INDEX....................................................*/
/*INDEX.....................................................................................*/
/*Header-INDEX.............................................*/
.header {
  background-color: #fcebb6;
  height: auto;
  margin: 0%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

/*Logo Header...............................................*/
.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

/*titulos y subtitulos Header................................*/
.titulo {
  margin: 0%;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitulo {
  margin: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-inicial {
  font-size: smaller;
  color: #5e412f;
  text-decoration: none;
  padding-top: 1rem;
  padding-right: 1rem;
}
.menu-inicial:hover {
  color: #78c0a8;
  font-size: medium;
}

@media only screen and (max-width: 356px) {
  .titulo {
    font-size: 1.5em;
    padding-top: 1rem;
  }
  .subtitulo {
    font-size: 1em;
  }
  .header {
    flex-direction: column;
  }
  .Findex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .menu-inicial {
    padding-right: 0%;
  }
}
body {
  margin: 0%;
}

/*Main-INDEX.................................................*/
.navbar-expand-lg {
  background-color: #ffca67 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.Mindex {
  width: 100%;
  height: 40rem;
  margin: 0%;
  padding: 0%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../imagenes/fonde_index3.jpg);
  background-size: cover;
  background-position: center;
  /*Clase de boostrap editada*/
  /*imagen principal index..........................................*/
}
.Mindex .warmer_index {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Mindex .warmer_index img {
  width: 500px;
  height: auto;
  border-radius: 6px;
}
.Mindex .img-ppal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 6px;
}
.Mindex .fondo2 {
  width: 300px;
  height: auto;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.Mindex .fondo1 {
  width: 300px;
  height: auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/*Footer-INDEX.....................................................*/
.Findex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #aaa8a2;
  text-align: center;
  flex-wrap: wrap;
}

/*Parte derecha footer.............................................*/
/*contactos........................................................*/
.contactos {
  padding-right: 1rem;
  padding-left: 1rem;
}

/*telefonos de contacto............................................*/
.telefonos {
  font-size: small;
  color: #aaa8a2;
  flex-direction: column;
}
.telefonos:hover {
  color: #f0a830;
}

/*parte izquierda footer............................................*/
/*instagram empresa.................................................*/
.ig-pwrbase {
  text-decoration: none;
  color: #aaa8a2;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ig-pwrbase:hover {
  color: #9c43b8;
  transform: translateY(-2%);
}

/*Red Social...........................................................*/
.izq-footer {
  padding-left: 2rem;
}

.instagram {
  display: flex;
  justify-content: center;
}
.instagram img {
  width: 24px;
  height: 24px;
}

/*PRODUCTO............................................................................................*/
/*complemento header*/
.menu-inicial {
  font-size: smaller;
  color: #5e412f;
  text-decoration: none;
  padding-top: 1rem;
  padding-right: 1rem;
}
.menu-inicial:hover {
  color: #78c0a8;
  font-size: medium;
}

/*MAIN..................................................................*/
/*titulo main...........................................................*/
.titulos {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*texto main...........................................................*/
.fuente-texto {
  margin: 0%;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

/*fondo main...........................................................*/
.fondo-mainP {
  background: linear-gradient(180deg, rgba(3, 212, 132, 0.801) 0%, rgba(218, 185, 3, 0.877) 100%);
  margin: 0rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
}
.fondo-mainP nav {
  background-color: #ffca67 !important;
}

/*imagenes del producto.................................................*/
.card {
  width: 15rem;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  cursor: default;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  height: 15rem;
  width: 100%;
  border-radius: 6px;
}
.card .contenido {
  padding: 1rem;
  text-align: center;
}
.card .precio {
  color: rgb(33, 201, 33);
  font-style: italic;
  font-weight: bold;
}
.card .colores {
  font-style: italic;
  font-weight: bold;
}

/*contenido main................................................*/
.mainP {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*NOSOTROS...............................................................................................*/
/*MAIN......................*/
.fondo-mainN {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, rgba(219, 137, 13, 0.938) 20%, rgba(0, 255, 128, 0.788) 100%); /*link de paleta colores: https://paletadecolores.com.ar/paleta/5e412f/fcebb6/78c0a8/f07818/f0a830/*/
}

/*Titulo ppal main...............................................*/
/*Mapa ubicacion.................................................*/
.mapa {
  width: 25rem;
  height: 25rem;
  margin: 0px;
  padding-bottom: 1rem;
  border-radius: 10%;
}

/*contenido main...................................................*/
.Mnosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*titulo y texto main...............................................*/
}
.Mnosotros .ubi-geo {
  padding-bottom: 1rem;
}
.Mnosotros .titulo-ubi {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  flex-wrap: wrap;
  font-size: medium;
  margin: 0px;
  background-color: #333;
  color: white;
}
.Mnosotros .texto-ubi {
  margin: 0%;
  width: 20rem;
  font-size: small;
  padding: 4px;
  background-color: rgb(236, 195, 132);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media only screen and (max-width: 332px) {
  .Mnosotros .mapa {
    width: 15rem;
    height: 15rem;
  }
  .Mnosotros .texto-ubi {
    width: 100%;
  }
  .Mnosotros .titulo-ubi {
    width: 100%;
  }
  .Mnosotros .fuente-texto {
    font-size: smaller;
  }
}

@media only screen and (max-width: 435px) {
  .mapa {
    width: auto;
    height: 16rem;
  }
}
/*RESPONABLES EMPRESA..................................................................................*/
/*MAIN..................................................................*/
.Mdirectores {
  background: linear-gradient(180deg, rgb(247, 220, 101) 0%, rgba(230, 131, 2, 0.87) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

/*presentaciones de los directores..................................................*/
.directores1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.directores1 .presentacion {
  width: 45%;
  height: auto;
  margin: 10px;
  border-radius: 6px;
  background-color: #33b187;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.directores1 .presentacion:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1%);
}
.directores1 img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.directores1 h3 {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}
.directores1 p {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}
@media only screen and (max-width: 500px) {
  .directores1 .presentacion {
    width: 80%;
  }
}

.directores2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.directores2 .presentacion {
  width: 45%;
  height: auto;
  margin: 10px;
  border-radius: 6px;
  background-color: #33b187;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.directores2 .presentacion:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1%);
}
.directores2 img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.directores2 h3 {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
}
.directores2 p {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
}
@media only screen and (max-width: 500px) {
  .directores2 .presentacion {
    width: 80%;
  }
}

.titulo {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 526px) {
  h1 {
    font-size: large;
  }
}
/*OPINIONES........................................................................................*/
/*MAIN............................................................*/
/*formularios....................................................*/
.titulo-form {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.forms {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.forms .formulario {
  width: 45%;
  float: left;
  margin: 1rem;
}
.forms .campo {
  margin-bottom: 1rem;
}
.forms .campo label {
  display: block;
  font-weight: bold;
}
.forms .campo input, .forms .campo textarea {
  width: 100%;
  padding: 0.5rem;
}
.forms .campo textarea {
  height: 7rem;
}
.forms fieldset {
  display: flex;
}
.forms fieldset .opcion {
  justify-content: center;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.562);
  border-radius: 6px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
}

/*boton enviar..........................................................*/
.boton {
  background-color: rgb(105, 192, 54);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
}

/*estilos de letra de los forms..........................................*/
.letra-form {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: small;
}

/*color fondo main.......................................................*/
.mainO {
  background-color: #fde98c;
  overflow: auto;
  margin: 0rem;
}

/*media query index............................................................*/
@media only screen and (max-width: 510px) {
  .warmer_index img {
    width: 100% !important;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
